@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

/* Header Section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  padding: 0 15%;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.nav {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 16px;
}

.nav a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 100;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
  padding: 3% 15%;
}

.hero-content {
  max-width: 400px;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin-top: 0;
}

.hero-sub-text {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: 300;
}

.hero-button {
  background-color: #3382f6;
  border: none;
  padding: 6px 18px;
  border-radius: 6px;
  color: #f9faf8;
}

.hero-img {
  width: 500px;
  height: auto;
  border-radius: 6px;
}

/* Info Section */
.info {
  text-align: center;
  padding: 3% 15%;
}

.info-heading {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin-bottom: 5%;
}

.info-content {
  display: flex;
  justify-content: center;
  gap: 36px;
}

.info-card {
  width: 200px;
}

.info-img {
  width: 200px;
  height: auto;
  border: 3px solid #3382f6;
  border-radius: 16px;
}

/* Quote Section */
.quote {
  background-color: #d5d7db;
  padding: 7% 28%;
}

.quote-text {
  font-size: 36px;
  font-weight: 200;
  font-style: italic;
  color: #1f2937;
}

.quote-author {
  text-align: right;
  margin-right: 12%;
  font-weight: 900;
}

/* CTA Section */
.cta {
  padding: 7% 15%;
}

.cta-container {
  background-color: #3382f6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2% 0;
  border-radius: 18px;
}

.cta-heading {
  margin-bottom: 3px;
  color: #f9faf8;
}

.cta-text {
  margin-top: 0;
  color: #e5e7eb;
  font-weight: 300;
}

.cta-button {
  background-color: #3382f6;
  border: 2px solid #f9faf8;
  padding: 6px 18px;
  border-radius: 6px;
  color: #f9faf8;
}

/* Footer Section */
.footer {
  background-color: #1f2937;
  padding: 1% 15%;
  color: #e5e7eb;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}